//
#page-wrap 
{
    width: 800px;
    margin: 0 auto;
}

table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 4;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

*{
    text-align: center;
}

card-header{
    border: 0;
    background: transparent;
    text-align: center;
}

.button 
{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button1 
{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
  
.button1:hover 
{
    background-color: #4CAF50;
    color: white;
}
  
.button2 
{
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
  
.button2:hover 
{
    background-color: #008CBA;
    color: white;
}

.button3 
{
    background-color: white; 
    color: black; 
    border: 2px solid #FF0000;
}
  
.button3:hover 
{
    background-color: #FF0000;
    color: white;
}

.button4 
{
    background-color: white; 
    color: black; 
    border: 2px solid #ffc400;
}
  
.button4:hover 
{
    background-color: #ffc400;
    color: white;
}

.button5 
{
    background-color: white; 
    color: black; 
    border: 2px solid #8400ff;
}
  
.button5:hover 
{
    background-color: #8400ff;
    color: white;
}

.button6 
{
    background-color: white; 
    color: black; 
    border: 2px solid #00ffc3;
}
  
.button6:hover 
{
    background-color: #00ffc3;
    color: white;
}

.button7 
{
    background-color: white; 
    color: black; 
    border: 2px solid #f700ff;
}
  
.button7:hover 
{
    background-color: #f700ff;
    color: white;
}

.button8 
{
    background-color: white; 
    color: black; 
    border: 2px solid #12914b;
}
  
.button8:hover 
{
    background-color: #12914b;
    color: white;
}

.button8 
{
    background-color: white; 
    color: black; 
    border: 2px solid #964B00;
}
  
.button8:hover 
{
    background-color: #964B00;
    color: white;
}
